.root {
  display: flex;
  justify-content: space-between;
  width: 96%;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--colors-interface-orange);
  transition: all 0.2s ease-in-out;
}

.root:hover {
  transform: scale(1.03);
}
