@font-face {
  font-family: 'Robot';
  src: url('./Roboto-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Robot';
  src: url('./Roboto-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Robot';
  src: url('./Roboto-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Robot';
  src: url('./Roboto-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
